<body style="padding: 200px; font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif; background-color: purple;">
<h1 style="color:red">Here is the JSON Output from API:</h1>
<div style="color:white">
<p><b>Edamam JSON Output Results</b></p>
<p><b>Name:</b> {{ output6 }}</p>
<p><b>Ingredients</b></p>
<p><b>Ingredient 1:</b> {{ output }}</p>
<p><b>Ingredient 2:</b> {{ output2 }}</p>
<p><b>Ingredient 3:</b> {{ output3 }}</p>
<p><b>Ingredient 4:</b> {{ output4 }}</p>
<p><b>Ingredient 5:</b> {{ output5 }}</p>
<br>
<p><b>Google Knowledge Graph Search JSON Output Results</b></p>
<p><b>Name:</b> {{ output8 }}</p>
<p><b>Description:</b> {{ output7 }}</p>
<p><b>Result Score:</b> {{ output9 }}</p>
<p><b>Type:</b> {{ output10 }}</p>
<p><b>ArticleBody:</b> {{ output11 }}</p>
</div>
</body>